extends layout

block content
  h1= Ujwal 
  p Welcome to #{Ujwal} world <br>
  button(type="button" class="btn btn-secondary" onclick="goFaster()") Press me 

  div#faster Increase the speed 
  script.
    var  mph = 20;
    var change = 1;
    function goFaster(){
      mph += change;
      change += 1;
      document.getElementById ('faster').textContent = `MPH ${mph} with changes ${change}`;}
      a(href="/Tshirts") View Results

